html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #f5f5f5;
}

#root {
  height: 100%;
  display: flex;
}

.list-wrapper {
  text-align: center;
  align-items: center;
  margin: auto;
  position: relative;
  top: 6rem;
}

.app-content {
  width: 100%;
}